.morph-header {
  transition: all 0.3s;
  background: #39c;
  position: relative;
}

.morph-header .headline {
  margin: 0;
  color: #fff;
  font-size: 90px;
  position: absolute;
  bottom: 0;
  left: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 0.75;
  font-family: 'OpenSans';
}
