@require('_impress-demo.css')
@require('_fonts')

body {
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  text-rendering: optimizelegibility;
  font-weight: 300;
  font-family: 'SourceSansPro';
}
